
@{
    ViewBag.Title = "Kardex";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <small>Lista</small> Kardex
            <!--<button class="btn btn-outline btn-primary pull-right btnNuevo" style="display: none;">Nuevo</button>-->
        </h1>        
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row" id="materialRow">
    <div class="form-group">
        <div class="col-sm-1"> <label class="control-label">Material</label></div>
        <span id="idMaterial" style="display:none;">Id</span>
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" id="idMaterialM" name="idMaterialM" class="form-control" placeholder="Id" title="Id" disabled>
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" id="btnBuscarMat" name="btnBuscarMat"><span class="fa fa-search"></span></button>
                </span>
            </div>
        </div>

        <div id="rowAlmacen">
            <div class="col-sm-1"> <label class="control-label">Almacen</label></div>
            <div class="col-sm-4">
                <select id="idAlmacen" name="idAlmacen" class="form-control" required="required"></select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
         <div id="bbGrid-clear" class="col-lg-12">
             <div id="cargandoInfo" style="display:none;">Cargando informacion...</div>  
         </div>                   
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br />
        </div>
    </div>
    <div class="col-lg-12" id="Imprimir" style="display:none;">
        <div class="col-lg-12">
            <button class="btn btn-outline btn-primary pull-right " type="button" id="btnImprimir" name="btnImprimir">Imprimir</button>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="buscar-Material"
     tabindex="-1" role="dialog"
     aria-labelledby="buscarMaterial">
</div>



@section Scripts {
    <script src="~/Scripts/Kardex.js"></script>
}

