<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="~/Principal/Inicio"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-users fa-fw"></i> Usuarios<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="~/Departamento/Index" data-access="AMLC">Departamento</a>
                    </li>
                    <li>
                        <a href="~/Usuario/Index" data-access="AMLC">Usuario</a>
                    </li>                    
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-database fa-fw"></i> Catalogos<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="~/TipoConstruccion/Index" data-access="AMLC">Tipo Contruccion</a>
                    </li>
                    <li>
                        <a href="~/Categoria/Index" data-access="AMLC">Categoria</a>
                    </li>
                    <li>
                        <a href="morris.html">Morris.js Charts</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>