
@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">CMI Track by Sysba.com.mx</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

@section Scripts{
    <script type="text/javascript">
        var Inicio = {
            CargarLocalStorage: function () {
                if (localStorage.idUser === undefined || localStorage.idUser === '') {
                    CMI.ReiniciaLocalStorage('@ViewBag.IdUsuario', '@ViewBag.UserName');
                }                
            }
        };
    </script>
}