
@{
    ViewBag.Title = "Almacenes";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <small>Lista</small> Almacenes
            <button class="btn btn-outline btn-primary pull-right btnNuevo" style="display: none;">Nuevo</button>
        </h1>        
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
         <div id="bbGrid-clear" class="col-lg-12">  </div>                   
    </div>
</div>

<div class="modal fade" id="nuevo-Almacen"
     tabindex="-1" role="dialog"
     aria-labelledby="nuevoAlmacenLabel">
</div>

<div class="modal fade" id="actualiza-Almacen"
     tabindex="-1" role="dialog"
     aria-labelledby="nuevoAlmacenLabel">
</div>


@section Scripts {
    <script src="~/Scripts/Almacen.js"></script>
}

