<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <table border='2'>
        <tr>
            <td colspan='3'>vrImagen</td>
            <td>
                <table>
                    <tr>
                        <td colspan='4'> </td>
                    </tr>
                    <tr>
                        <td colspan='4' align='center'><strong>REPORTE DE EXISTENCIAS</strong></td>
                    </tr>
                    <tr>
                        <td colspan='4' align='center'></td>
                    </tr>
                    <tr>
                        <td colspan='4'> </td>
                    </tr>
                    <tr>
                        <td colspan='4' align='center'></td>
                    </tr>
                    <tr>
                        <td colspan='4' align='center' style='color:red;'></td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr align='right'>
     
                        <td></td>
                        <td style='border:solid;border-size:2;' align='center'>Fecha</td>
                    </tr>
                    <tr align='center'>
                  
                        <td></td>
                        <td style='border:solid;border-size:2;'>Almacen</td>
                    </tr>
                    <tr align='right'>
                        <td ></td>
                    </tr>
                    <tr align='right'>
                        <td ></td>
                    </tr>
                 
                </table>
            </td>
            <td>
                <table>
                    <tr align='center'>
                        <td style='border:solid;border-size:2;'>vrFecha</td>
                    </tr>
                    <tr align='center'>
                        <td style='border:solid;border-size:2;'><strong>vrAlmacen</strong></td>
                    </tr>
                    <tr align='center'>
                        <td></td>
                    </tr>
                    <tr>
                        <td align='center'>  </td>
                    </tr>
                    <tr>
                        <td align='center'></td>
                    </tr>
                    <tr>
                        <td align='center' style='border:solid;'></td>
                    </tr>
                </table>
            </td>
        </tr>
        <table border='2'>
            <tr align='center'>
                <td rowspan='2' colspan="2"><strong>Grupo</strong></td>
                <td rowspan='2'><strong>id Material</strong></td>
                <td rowspan='2' colspan='1'><strong>Material</strong></td>
                <td rowspan='2'><strong>Ancho</strong></td>
                <td rowspan='2'><strong>UMAncho</strong></td>
                <td rowspan='2'><strong>Largo</strong></td>
                <td rowspan='2'><strong>UMLargo</strong></td>
                <td rowspan='2'><strong>Calidad</strong></td>
                <td rowspan='2'><strong>Existencia</strong></td>
            </tr>
        </table>
        <table border='2'>
            <tr>
                <td>
                    <table border='1'>
                        vrDetalle
                    </table>
                </td>
            </tr>
        </table>
     
        </td>
        </tr>
    </table>
</body>
</html>
