<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>    
        <thead>
            <tr>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td style="border: 1px solid black;">No</td>
                <td style="border: 1px solid black;">Proyecto</td>
            </tr>
            <tr>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ><b>Requerimiento</b></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td>&idProyecto&</td>
                <td>&NomProyecto&</td>
            </tr>
             <tr>
                <td ></td>
                <td >Logo</td>
                <td ></td>
                <td ><b>Etapa #&claveEtapa&</b></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td>Fecha</td>
                <td>&FechaDoc&</td>
            </tr>
             <tr>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td>Folio Req.</td>
                <td>&FolioReq&</td>
            </tr>
            <tr>
                <td ></td>
                <td ></td>
                <td ></td>
                <td >&NomEtapa&</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td>Departamento</td>
                <td>&Depto&</td>
            </tr>
            <tr>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>             
                <td>Solicitado Por</td>
                <td>&solicitado&</td>
            </tr>           
            <tr>
                <th>Partida</th>
                <th>Cantidad</th>
                <th>Unidad</th>
                <th>Descripcion</th>
                <th>Calidad de Acero</th>
                <th>Ancho</th>
                <th>Long</th>
                <th>Long(m)<br /> Area(m2)</th>
                <th>Kg/m <br /> Kg/m2</th>
                <th>Total <br />(kg) </th>               
            </tr>
        </thead>
        <tbody>
            &renglones&
        </tbody>
    </table>
</body>
</html>
