<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <table border='2'>
        <tr>
            <td colspan='3'><img src=vrImagen /></td>
            <td>
                <table>
                    <tr>
                        <td colspan='2'> </td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center'><strong>MATERIALES PROYECTO</strong></td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center'><strong> vrEtapa</strong> </td>
                    </tr>
                    <tr>
                        <td colspan='2'> </td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center'><strong>vrDesEtapa</strong> </td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center' style='color:red;'>95% <strong>Rev.A</strong></td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr align='right'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style='border:solid;border-size:2;' align='center'><strong>No.</strong></td>
                    </tr>
                    <tr align='center'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style='border:solid;border-size:2;'><strong>vrNoPro</strong></td>
                    </tr>
                    <tr align='right'>
                        <td colspan='4'><strong>Folio Requisicion</strong></td>
                    </tr>
                    <tr align='right'>
                        <td colspan='4'>FECHA:</td>
                    </tr>
                    <tr align='right'>
                        <td colspan='4'>DEPARTAMENTO:</td>
                    </tr>
                    <tr align='right'>
                        <td colspan='4'>SOLICITADO POR:</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr align='center'>
                        <td style='border:solid;border-size:2;' colspan="2">PROYECTO</td>
                    </tr>
                    <tr align='center'>
                        <td style='border:solid;border-size:2;' colspan="2"><strong>vrNombrePro</strong></td>
                    </tr>
                    <tr align='center'>
                        <td colspan="2"><strong>vrFolioReq</strong></td>
                    </tr>
                    <tr>
                        <td align='center' colspan="2"> <strong>30/3/2016</strong> </td>
                    </tr>
                    <tr>
                        <td align='center' style='border:solid;' colspan="2">vrDepto</td>
                    </tr>
                    <tr>
                        <td align='center' style='border:solid;' colspan="2"> vrSolicita</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="10">
                <table border='1'>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2">RECIBIDO</td>
                        <td colspan="2">REQUISICION</td>
                        <td colspan="2">REQUERIMIENTO</td>
                        <td colspan="2">MATERIAL ASIGNADO</td>
                    </tr>
                    <tr>
                        <td>Material</td>
                        <td>Ancho</td>
                        <td>Largo</td>
                        <td>Piezas</td>
                        <td>Kgs</td>
                        <td>Piezas</td>
                        <td>Kgs</td>
                        <td>Piezas</td>
                        <td>Kgs</td>
                        <td>Piezas</td>
                        <td>Kgs</td>
                    </tr>
                    vrDetalle
                </table>
            </td>
        </tr>
    
                        
   
    </table>
</body>
</html>
