<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <table border="2">
        <tr>
            <td colspan="3"><img src="myVarRouteUrlImages/CMI.TRACK.reportes.png"></td>
            <td>
                <table>
                    <tr><td colspan="12" align="center"><strong>ORDEN DE PRODUCCION</strong></td></tr>
                    <tr><td colspan="12"></td></tr>
                    <tr><td colspan="12" align="center"><strong>myVarProyecto</strong></td></tr>
                    <tr><td colspan="12"></td></tr>
                </table>
            </td>
            <td>
                <table>
                    <tr><td></td></tr>
                    <tr align="right"><td>Codigo:</td></tr>
                    <tr align="right"><td>Revision:</td></tr>
                    <tr align="right"><td>Fecha:</td></tr>
                    <tr><td></td></tr>
                </table>
            </td>
            <td>
                <table>
                    <tr align="center"><td></td></tr>
                    <tr align="center"><td><strong>myVarCodigo</strong></td></tr>
                    <tr align="center"><td><strong>myVarRevision</strong></td></tr>
                    <tr align="center"><td><strong>myVarFecha</strong></td></tr>
                    <tr><td></td></tr>
                </table>
            </td>
        </tr>
    </table>
    <table>
        <thead>
            <tr>
                <th>Seccion</th>
                <th>Tipo</th>
                <th>Pieza</th>
                <th>Marca</th>
                <th>Serie</th>
                <th>SubMarca</th>
                <th>Perfil</th>
                <th>Piezas</th>
                <th>Corte</th>
                <th>Longitud</th>
                <th>Ancho</th>
                <th>Grado</th>
                <th>Kg/M</th>
                <th>Total L/A</th>
                <th>Total</th>
                <th>Num.&nbsp;Plano</th>
                <th>Peso</th>
            </tr>
        </thead>
        <tbody>
            myVarTRs
        </tbody>
    </table>
</body>
</html>
