<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <table border='2'>
        <tr>
            <td colspan='3'>vrImagen</td>
            <td>
                <table>
                    <tr>
                        <td colspan='2'> </td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center'><strong>VALE DE MOVIMIENTOS EN EL ALMACEN</strong></td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center'></td>
                    </tr>
                    <tr>
                        <td colspan='2'> </td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center'></td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center' style='color:red;'></td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr align='right'>
     
                        <td></td>
                        <td style='border:solid;border-size:2;' align='center'>Fecha</td>
                    </tr>
                    <tr align='center'>
                  
                        <td></td>
                        <td style='border:solid;border-size:2;'>Folio</td>
                    </tr>
                    <tr align='right'>
                        <td ></td>
                    </tr>
                    <tr align='right'>
                        <td ></td>
                    </tr>
                 
                </table>
            </td>
            <td>
                <table>
                    <tr align='center'>
                        <td style='border:solid;border-size:2;'>vrFecha</td>
                    </tr>
                    <tr align='center'>
                        <td style='border:solid;border-size:2;'><strong>vrFolio</strong></td>
                    </tr>
                    <tr align='center'>
                        <td></td>
                    </tr>
                    <tr>
                        <td align='center'>  </td>
                    </tr>
                    <tr>
                        <td align='center' style='border:solid;'><strong>TIPO DE MOVIMIENTO:</strong></td>
                    </tr>
                    <tr>
                        <td align='center' style='border:solid;'><strong>vrTipoMovto</strong></td>
                    </tr>
                </table>
            </td>
        </tr>
        <table border='2'>
            <tr align='center'>
                <td rowspan='2'><strong>Cantidad</strong></td>
                <td rowspan='2'><strong>Unidad</strong></td>
                <td rowspan='2'><strong>Material</strong></td>
                <td rowspan='2' colspan='1'><strong>DESCRIPCION</strong></td>
                <td rowspan='2'><strong>Ancho</strong></td>
                <td rowspan='2'><strong>Largo</strong></td>
                <td rowspan='2'><strong>Calidad Acero</strong></td>
                <td rowspan='2'><strong>Almacen</strong></td>
            </tr>
        </table>
        <table border='2'>
            <tr>
                <td>
                    <table border='1'>
                        vrDetalle
                    </table>
                </td>
            </tr>
        </table>
        <table border='2'>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td colspan='6'></td>
                            <td align='right'></td>
                            <td ></td>
                        </tr>
                        <tr>
                            <td colspan='2'></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
 

                            </tr>
                        <tr>
                            <td colspan='8'></td>
                        </tr>
                        <tr>
                            <td colspan='8'></td>
                        </tr>
                        <tr>
                            <td colspan='3' align='center'>Autorizo</td>
                            <td></td>
                            <td colspan='3' align='center'>Recibio</td>
                            <td align='right'></td>
                            
                        </tr>
                        <tr>
                            <td colspan='8'></td>
                        </tr>
                        <tr>
                            <td colspan='3' align='center'>_____________________</td>
                            <td></td>
                            <td colspan='3' align='center'>_______________________</td>
                            <td align='right'></td>

                        </tr>
                        <tr>
                            <td colspan='8'></td>
                        </tr>
                    </table>
            </tr>
        </table>
        </td>
        </tr>
    </table>
</body>
</html>
