<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td colspan="17"><b>ORDEN&nbsp;DE&nbsp;PRODUCCION</b></td>
            </tr>
            <tr>
                <td colspan="17">PROYECTO:&nbsp;&nbsp;myVarCodigoProyecto&nbsp;-&nbsp;myVarRevisionProyecto</td>
            </tr>
            <tr>
                <th>Seccion</th>
                <th>Tipo</th>
                <th>Pieza</th>
                <th>Marca</th>
                <th>Serie</th>
                <th>SubMarca</th>
                <th>Perfil</th>
                <th>Piezas</th>
                <th>Corte</th>
                <th>Longitud</th>
                <th>Ancho</th>
                <th>Grado</th>
                <th>Kg/M</th>
                <th>Total L/A</th>
                <th>Total</th>
                <th>Num.&nbsp;Plano</th>
                <th>Peso</th>
            </tr>
        </thead>
        <tbody>
            myVarTRs
        </tbody>
    </table>
</body>
</html>
