<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <table border='2'>
        <tr>
            <td colspan='3'><img src=vrImagen /></td>
            <td>
                <table>
                    <tr>
                        <td colspan='2'> </td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center'><strong>REQUISICION  DE  COMPRA</strong></td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center'><strong> vrEtapa</strong> </td>
                    </tr>
                    <tr>
                        <td colspan='2'> </td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center'><strong>vrDesEtapa</strong> </td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center' style='color:red;'>95% <strong>Rev.A</strong></td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr align='right'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style='border:solid;border-size:2;' align='center'><strong>No.</strong></td>
                    </tr>
                    <tr align='center'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style='border:solid;border-size:2;'><strong>vrNoPro</strong></td>
                    </tr>
                    <tr align='right'>
                        <td colspan='4'><strong>Folio Requisicion</strong></td>
                    </tr>
                    <tr align='right'>
                        <td colspan='4'>FECHA:</td>
                    </tr>
                    <tr align='right'>
                        <td colspan='4'>DEPARTAMENTO:</td>
                    </tr>
                    <tr align='right'>
                        <td colspan='4'>SOLICITADO POR:</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr align='center'>
                        <td style='border:solid;border-size:2;'>PROYECTO</td>
                    </tr>
                    <tr align='center'>
                        <td style='border:solid;border-size:2;'><strong>vrNombrePro</strong></td>
                    </tr>
                    <tr align='center'>
                        <td><strong>vrFolioReq</strong></td>
                    </tr>
                    <tr>
                        <td align='center'> <strong>30/3/2016</strong> </td>
                    </tr>
                    <tr>
                        <td align='center' style='border:solid;'>vrDepto</td>
                    </tr>
                    <tr>
                        <td align='center' style='border:solid;'> vrSolicita</td>
                    </tr>
                </table>
            </td>
        </tr>
        <table border='2'>
            <tr align='center'>
                <td rowspan='2'><strong>Partida</strong></td>
                <td rowspan='2'><strong>Cantidad</strong></td>
                <td rowspan='2'><strong>Unidad</strong></td>
                <td rowspan='2' colspan='1'><strong>DESCRIPCION</strong></td>
                <td rowspan='2' colspan='1'><strong>Calidad<br>de Acero</strong></td>
                <td rowspan='2'><strong>Ancho<br>(ft.)</strong></td>
                <td rowspan='2'><strong>Long.<br>( ft.)</strong></td>
                <td rowspan='2'><strong>Long.(m)<br>Area (m2)</strong></td>
                <td rowspan='2'><strong>Kg/m<br>Kg/m2</strong></td>
                <td rowspan='2'><strong>TOTAL<br>( Kg )</strong></td>
            </tr>
        </table>
        <table border='2'>
            <tr>
                <td>
                    <table border='1'>
                        vrDetalle
                    </table>
                </td>
            </tr>
        </table>
        <table border='2'>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td colspan='8'></td>
                            <td align='right'>TOTAL</td>
                            <td style='border:solid;border-size:2;'>vrTotal</td>
                        </tr>
                        <tr>
                            <td colspan='2'>OBSERVACIONES:</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        <tr>
                            <td colspan='10'></td>
                        </tr>
                        <tr>
                            <td colspan='10'></td>
                        </tr>
                        <tr>
                            <td colspan='3' align='center'>ELABORADO POR:</td>
                            <td colspan='5' align='center'>APROBADO POR:</td>
                            <td align='right'>RECIBI:</td>
                            <td>_______________</td>
                        </tr>
                        <tr>
                            <td colspan='10'></td>
                        </tr>
                        <tr>
                            <td colspan='3' align='center'>_____________________</td>
                            <td colspan='5' align='center'>_______________________</td>
                            <td align='right'>FECHA</td>
                            <td>_______________</td>
                        </tr>
                        <tr>
                            <td colspan='10'></td>
                        </tr>
                    </table>
            </tr>
        </table>
        </td>
        </tr>
    </table>
</body>
</html>
