
@{
    ViewBag.Title = "Asigna materiales por Proyecto";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <small>Asigna</small> Materiales por Proyecto
            <button class="btn btn-outline btn-primary pull-right btnNuevo" style="display: none;">Nuevo</button>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="form-group">
        <div class="col-sm-1"> <label class="control-label">Proyecto</label></div>
        <div class="col-sm-4">
            <div class="input-group">
                <p id="nombreProyecto" name="nombreProyecto" class="form-control" placeholder="Nombre Proyecto" title="Nombre Proyecto"> Nombre Proyecto </p>
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" id="btnBuscarProyecto" name="btnBuscarProyecto"><span class="fa fa-search"></span></button>
                </span>
            </div>
            <input type="hidden" id="idProyectoSelect" name="idProyectoSelect" />
        </div>
        <div class="col-sm-2">
            <span id="FechaInicio" placeholder="FechaInicio" class="form-control" title="Fecha Inicio">Fecha Inicio</span>
        </div>
        <div class="col-sm-2">
            <span id="FechaFin" placeholder="FechaFin" class="form-control" title="Fecha Fin">Fecha Fin</span>
        </div>
        <div class="col-sm-1">
            <span id="RevisionPro" name="RevisionPro" class="form-control" title="Revision">Rev</span>
        </div>
        <div class="col-sm-2">
            <span id="CodigoProyecto" placeholder="CodigoProyecto" class="form-control" title="Codigo Proyecto">Codigo Proyecto</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br />
    </div>
</div>
<div class="row" id="etapaRow" style="display:none;">
    <div class="form-group">
        <div class="col-sm-1"> <label class="control-label">Etapa</label></div>
        <div class="col-sm-4">
            <div class="input-group">
                <p id="nombreEtapa" name="nombreEtapa" class="form-control" title="Nombre Etapa"> Nombre Etapa </p>
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" id="btnBuscarEtapa" name="btnBuscarEtapa"><span class="fa fa-search"></span></button>
                </span>
            </div>
            <input type="hidden" id="idEtapaSelect" name="idEtapaSelect" />
        </div>
        <div class="col-sm-2">
            <span id="FechaInicioEtapa" class="form-control" title="Fecha Inicio">Fecha Inicio</span>
        </div>
        <div class="col-sm-2">
            <span id="FechaFinEtapa" class="form-control" title="Fecha Fin">Fecha Fin</span>
        </div>
        <div class="col-sm-2">
            <span id="OrdenProduccion" class="form-control" title="OrdenProduccion">Orden Producción</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br />
    </div>
</div>
<div class="row" id="requerimientoRow" style="display:none;">
    <div class="form-group">
        <div class="col-sm-1"> <label class="control-label">Req.</label></div>
        <div class="col-sm-4">
            <div class="input-group">
                <p id="folioRequerimiento" name="folioRequerimiento" class="form-control" placeholder="Folio Requerimiento" title="Folio Requermiento"> Folio Requermiento </p>
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" id="btnBuscarReq" name="btnBuscarReq"><span class="fa fa-search"></span></button>
                </span>
            </div>
            <input type="hidden" id="idRequerimientoSelect" name="idRequerimientoSelect" />
        </div>
        <div class="col-sm-2">
            <span id="fechaSolicitud" placeholder="Fecha Solicitud" class="form-control" title="Fecha Fin">Fecha Solicitud</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br />
    </div>
</div>
<div class="row">
    <div  id="rowAlmacen" style="display:none;">
        <div class="col-sm-1"> <label class="control-label">Almacen</label></div>
        <div class="col-sm-3">
            <select id="Almacen" name="Almacen" class="form-control" required="required"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br />
        </div>
    </div>
    <div class="col-lg-12">
        <div id="bbGrid-AsignaMaterialesProyecto" class="col-lg-12">
            <div id="cargandoInfo" style="display:none;">Cargando informacion...</div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="tipo-asignamaterial"
     tabindex="-1" role="dialog"
     aria-labelledby="asignaMaterial">
</div>
<div class="modal fade bs-example-modal-lg" id="nuevo-AsignaProyecto"
     tabindex="-1" role="dialog"
     aria-labelledby="nuevoAsignaProyectoLabel">
</div>
<div class="modal fade bs-example-modal-lg" id="actualiza-MaterialProyecto"
     tabindex="-1" role="dialog"
     aria-labelledby="nuevoMaterialProyectoLabel">
</div>
<div class="modal fade bs-example-modal-lg" id="buscar-Material"
     tabindex="-1" role="dialog"
     aria-labelledby="buscarMaterial">
</div>
<div class="row">
    <div class="col-sm-12">
        <br />
    </div>
</div>
<div class="col-lg-12 text-right" id="Imprimir" style="display:none;">

        <button type="button" class="btn btn-primary btn-GuardaNew">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            Guardar
        </button>

        <button class="btn btn-outline btn-primary" type="button" id="btnImprimir" name="btnImprimir">
            <i class="fa fa-print" aria-hidden="true"></i>
            Imprimir
        </button>
  
</div>

<div class="modal fade bs-example-modal-lg" id="buscar-General"
     tabindex="-1" role="dialog"
     aria-labelledby="buscarGeneral">
</div>

<input type="hidden" id="usuarioCreacion" name="usuarioCreacion" class="form-control">


@section Scripts {
    <script src="~/Scripts/AsignaProyecto.js"></script>
}