
@{
    ViewBag.Title = "Generar Embarque Tablet";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <small>Generar</small> Embarque Tablet
            <button class="btn btn-outline btn-primary pull-right btnNuevo" style="display: none;">Nuevo</button>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="form-group">
        <div class="col-sm-1"> <label class="control-label">Proyecto</label></div>
        <div class="col-sm-4">
            <div class="input-group">
                <p id="nombreProyecto" name="nombreProyecto" class="form-control" placeholder="Nombre Proyecto" title="Nombre Proyecto"> Nombre Proyecto </p>
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" id="btnBuscarProyecto" name="btnBuscarProyecto"><span class="fa fa-search"></span></button>
                </span>
            </div>
            <input type="hidden" id="idProyectoSelect" name="idProyectoSelect" />
        </div>
        <div class="col-sm-2">
            <span id="FechaInicio" placeholder="FechaInicio" class="form-control" title="Fecha Inicio">Fecha Inicio</span>
        </div>
        <div class="col-sm-2">
            <span id="FechaFin" placeholder="FechaFin" class="form-control" title="Fecha Fin">Fecha Fin</span>
        </div>
        <div class="col-sm-1">
            <span id="RevisionPro" name="RevisionPro" class="form-control" title="Revision">Rev</span>
        </div>
        <div class="col-sm-2">
            <span id="CodigoProyecto" placeholder="CodigoProyecto" class="form-control" title="Codigo Proyecto">Codigo Proyecto</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br />
    </div>
</div>
<div class="row" id="etapaRow" style="display:none;">
    <div class="form-group">
        <div class="col-sm-1"> <label class="control-label">Etapa</label></div>
        <div class="col-sm-4">
            <div class="input-group">
                <p id="nombreEtapa" name="nombreEtapa" class="form-control" title="Nombre Etapa"> Nombre Etapa </p>
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" id="btnBuscarEtapa" name="btnBuscarEtapa"><span class="fa fa-search"></span></button>
                </span>
            </div>
            <input type="hidden" id="idEtapaSelect" name="idEtapaSelect" />
        </div>
        <div class="col-sm-2">
            <span id="FechaInicioEtapa" class="form-control" title="Fecha Inicio">Fecha Inicio</span>
        </div>
        <div class="col-sm-2">
            <span id="FechaFinEtapa" class="form-control" title="Fecha Fin">Fecha Fin</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br />
    </div>
</div>
<div class="row" id="ordenEmbarqueRow" style="display:none;">
    <div class="form-group">
        <div class="col-sm-1"> <label class="control-label">Orden Embarque</label></div>
        <div class="col-sm-4">
            <div class="input-group">
                <p id="idOrdenEmbarque" name="idOrdenEmbarque" class="form-control" title="Id Orden Embarque"> Id Orden Embarque </p>
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" id="btnBuscarOrdenEmbarque" name="btnBuscarOrdenEmbarque"><span class="fa fa-search"></span></button>
                </span>
            </div>
            <input type="hidden" id="idOrdenEmbarSelect" name="idOrdenEmbarSelect" />
        </div>
        <div class="col-sm-2">
            <span id="idOrdenProduccion" class="form-control" title="Orden Produccion">Orden Produccion</span>
        </div>
        <div class="col-sm-2">
            <span id="FechaCreacionOE" class="form-control" title="Fecha Creacion">Fecha Creacion</span>
        </div>
        <div class="col-sm-3">
            <span id="Observacion" class="form-control" title="Observacion">Observacion</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br />
    </div>
</div>
<div class="row" id="codBarras" style="display:none;">
    <div class="col-sm-7"></div>
    <div class="col-sm-2 text-right"> <label class="control-label">C. Barras</label></div>
    <div class="col-sm-3">
        <div class="input-group">
            <input type="text" id="codigoBarras" name="codigoBarras" class="form-control" title="Codigo de Barras" placeholder="Codigo de Barras" />
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" id="btnBuscarCodigoBarra" name="btnBuscarCodigoBarra"><span class="fa fa-search"></span></button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="bbGrid-Embarques" class="col-lg-12">
            <div id="cargandoInfo" style="display:none;">Cargando informacion...</div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="buscar-General"
     tabindex="-1" role="dialog"
     aria-labelledby="buscarGeneral">
</div>

@section Scripts {
    <script src="~/Scripts/EmbarqueTablet.js"></script>
}