
    <table>
        <thead>
            <tr>
                <td>Partida</td>
                <td>Cantidad</td>
                <td>Unidad</td>
                <td>DESCRIPCION</td>
                <td>Calidad de Acero</td>
                <td>Ancho (ft.)</td>
                <td>Long.( ft.)</td>
                <td>Long.(m) Area (m2)</td>
                <td>Kg/m Kg/m2</td>
                <td>TOTAL( Kg )</td>
            </tr>
        </thead>
        <tbody id="tabla-elementos">

        </tbody>
    </table>